<div class="well">
  <h4>All binding Examples</h4>
  <hr>
  <p>
    <b>Display Board : </b>
    {{ username }}
  </p>
  <input class="form-control" type="text" [(ngModel)]="username">
  <br>
  <div class="btn-group">
    <button class="btn btn-primary btn-sm" (click)="addUserName()" [disabled]="this.username.length == 0 ? true : false" >Add New</button>
    <button class="btn btn-danger btn-sm" (click)="this.username = ''" [disabled]="this.username.length == 0 ? true : false">Reset</button>
  </div>

  <hr>

  <p *ngIf="this.usernames.length == 0; else allUserNames">No User Added yet</p>
  <ng-template #allUserNames>
    <ul class="list-group" *ngFor="let item of usernames">
        <li class="list-group-item">{{ item }}</li>
    </ul>
    <button class="btn btn-primary" (click)="saveToLocalStorage()">Add to Local Storage</button>
  </ng-template>

  <hr>
  <h4>Items from Local Storage: </h4>
  <br>
  <!-- <p *ngIf="localStorage.getItem('ar') === null; else localStorageItem"></p> -->
  <!-- <ng-template #localStorageItem>
      <ul *ngFor="let item of JSON.parse(localStorage.getItem('ar'))">
          <li class="list-group-item">{{ item }}</li>
      </ul>
  </ng-template> -->
</div>
